.idea/
dataset/*
dataset-examples/
models/*
Yelp_Sentiment_Analysis/*
Yelp_Sentiment_Analysis/Scripts/*
!Yelp_Sentiment_Analysis/Scripts/
!Yelp_Sentiment_Analysis/Scripts/fake_reviews.ipynb
/myenv/
/src/.ipynb_checkpoints/
/dataset.zip
/src/old/
/src/__pycache__/
/report/report.toc
/report/report.lol
/report/report.lot
/report/report.log
/report/report.tex
/report/report.out
/report/report.aux
/report/report.synctex.gz
/report/report.lof
